services:
  mongo:
    image: mongo:8.2.3
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 10

  mongo-init:
    image: mongo:8.2.3
    depends_on:
      mongo:
        condition: service_healthy
    restart: "no"
    entrypoint: >
      sh -c '
        echo "Initializing MongoDB replica set...";
        mongosh --host mongo:27017 --eval "
          try { rs.status(); } 
          catch (e) { 
            rs.initiate({
              _id: \"rs0\", 
              members: [{ _id: 0, host: \"mongo:27017\" }] 
            }); 
          }
        ";
        echo "Sleeping 10s for primary election...";
        sleep 10;
        exit 0
      '

  app:
    build: .
    depends_on:
      mongo-init:
        condition: service_completed_successfully
    ports:
      - "8080:8080"

volumes:
  mongodata:
